<% if product.has_related_products?("accessories") %>
	
	<div class="realtedSupplies panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<a href="#relatedSupplies" data-toggle="collapse" data-parent="#accordian">
					Accessories <span class="pull-right"><i class="fa fa-angle-double-down fa-lg"></i></span>
				</a>
			</div>
		</div>
		
		<div id="relatedSupplies" class="panel-collapse collapse">
			<ul class="list-group">
			<% product.accessories.each do |r| %>
				<li class="list-group-item"><%= r.name %></li>
			<% end %>
			</ul>
		</div>
		
	</div>

<% end %>