<% if product.relations.size > 0 %>
<div class="col-md-12 accessories">
	
	<div id="accordian" class="panel-group">
		
		<%= render :partial => "spree/products/related_products/accessories", :locals => {:product => product} %>
	
	</div>
	
</div>
<% end %>