<div class="col-md-12 logos">
	
	<%# @brands.each do |brand| %>
	
		<%# link_to(seo_url(brand), :class => "logo col-sm-4 col-md-3") do %>
			<%# image_tag(brand.icon(:normal), :class => "logo") %>
		<%# end %>
		
	<%# end %>

</div>